# App Config
PORT=3000

# Local Database Config (PostgreSQL)
DB_HOST=localhost
DB_USER=dbadmin
DB_PASS=your_local_db_password
DB_NAME=postgres
DB_PORT=5432

# Azure Deployment Config
# This password will be used for the PostgreSQL Flexible Server in Azure
DB_PASSWORD=your_secure_azure_password_here
